[
 [:editor "ctrl-i" :instarepl.toggle-live]
 [:editor "ctrl-m" (:eval.custom
     "(with-out-str (clojure.pprint/write (macroexpand-1 '__SELECTION__)
                                           :suppress-namespaces false
                                           :dispatch clojure.pprint/code-dispatch))"
     {:result-type :replace, :verbatim true})]

 [:find-bar "enter" :find.hide]

 [:tabs "ctrl-[" :tabs.prev]
 [:tabs "ctrl-]" :tabs.next]
 [:tabs "ctrl-shift-[" :tabs.move-prev-tabset]
 [:tabs "ctrl-shift-]" :tabs.move-next-tabset]

 [:tabset "ctrl-'" :tabset.next]
 [:tabset "ctrl-\\" :tabset.prev]
 [:tabset "ctrl-shift-n" :tabset.new]
 [:tabset "ctrl-shift-w" :tabset.close]

 [:editor "ctrl-c" :clear-console]

 [:filter-list.input "ctrl-j" (:filter-list.input.move-selection 1)]
 [:filter-list.input "ctrl-k" (:filter-list.input.move-selection -1)]
]
